.hero {
  width: 100%;
  position: relative;
    overflow: hidden;
}

/* Full-width Carousel */
.hero-carousel {
  width: 100%;
  height: 460px;
}

.hero-slide {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 450px;
  object-fit: cover;    /* keeps full size */
}

/* Text on Image */
.slide-text {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  z-index: 5;
  max-width: 450px;
}

.slide-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.slide-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 22px;
  background: #ff6f00;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Dark overlay on image */
.hero-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 3;
}
